<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vale.valechat.mapper.OrganizationMapper">

    <resultMap id="BaseResultMap" type="com.vale.valechat.model.entity.Organization">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="organizationName" column="organization_name" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,organization_name,is_deleted,
        create_time,update_time
    </sql>

    <select id="getOrganizationInWorkspace" resultType="com.vale.valechat.model.vo.OrganizationVo">
        select o.*
        from organization o
                 join (select organization_id from organization_workspace where workspace_id = #{workspaceId}) uw
                      on o.id = uw.organization_id ${ew.customSqlSegment}
    </select>
</mapper>
